<h1>Edit Wiki</h1>
   <div>
     <%= form_for @wiki do |f| %>
       <div class="form-group">
         <%= f.label :title %>
         <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
       </div>
       <div class="form-group">
         <%= f.label :body %>
         <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
       </div>
       <% if current_user.premium? || current_user.admin? %>
         <div class="form-group">
            <%= f.label :private, class: 'checkbox' %>
            <%= f.check_box :private %> Private wiki
         </div>
       <% end %>
       <div class="form-group">
         <%= f.submit "Save", class: 'btn btn-success' %>
       </div>
      <div>
        <h3>Add collaborator</h3>
            <%= f.collection_select :user_id, User.all, :id, :email,  include_blank: true %>
            <%= f.submit "Add", class: 'btn btn-sucess' %>
      </div>
      <div>
         <h3>Remove collaborator</h3>
            <%= f.collection_select :user, @wiki.users, :id, :email,  include_blank: true %>
            <%= f.submit "Remove", class: 'btn btn-danger'%>
      </div>
     <% end %>

   </div>
